<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>Hello!!</title>
    </head>
    <body>
        <h1>Hello Fratily World!!</h1>
        <p>this is sample text. this is sample text. this is sample text. this is sample text. this is sample text. this is sample text. this is sample text.</p>
    </body>
</html>